# Log files
*.out
*.log
*.dat
*~

# Object files
*.o

# Module files
*.mod

# Executable files
panda

# Libraries
*.lib
*.a
*.la
*.lo

### CMake ###
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

